nav{
    background-color: $color-primary; 
    font-family: 'Lora', serif;

    .logo{ 
        width: 65px;
        height: 65px; 

        animation-name: fade-left; 
        animation-iteration-count: 1;
        animation-timing-function: ease;
        animation-duration: 1.5s;
        animation-delay: 0;
    } 

    .trans{
        margin-left: 2px;
        margin-right: 2px;
        display: block;
        padding: 0.5rem 1rem;
        font-size: 17px;
        color: $color-secondary; 

        &:hover{ 
            transition: 0.75s;
            color: $color-third;
            font-size: 18px;
        }
    }
} 